<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                        version="3.0">
	<display-name>social2orion</display-name>
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>social2orion</web-resource-name>
			<description>social2orion</description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>social-user</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<role-name>social-user</role-name>
	</security-role> -->
	
	<servlet>
        <servlet-name>eu.finesce.emarketplace.SocialInputApplication</servlet-name>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>eu.finesce.emarketplace.SocialInputApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
</web-app> 